apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
        - name: app
          image: acast83/igor-app
          envFrom:
            - secretRef:
                name: secret-envs
          env:
            - name: POSTGRES_HOST
              value: postgres-service


